.overview {
}
.overview h5 {
  font-size: 1.5rem !important;
  font-weight: 800 !important;
  color: var(--grey);
  font-family: "Poppins", sans-serif;
}

.box_div {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--pri);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}

.box_div.profit {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--pri);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0rem;
  position: relative;
}
.box_div .prolfile_photo {
  height: 150px;
  width: 150px;
}
.box_div .prolfile_photo svg {
  height: 75px;
  width: 75px;
}
.montitle {
  color: var(--tin-white);
  font-family: "Poppins", sans-serif;
}
.value {
  color: var(--grey);
  font-family: "Poppins", sans-serif;
}
.cancel {
  position: absolute;
  cursor: pointer;
  right: 1rem;
  top: 1rem;
}
.cancel svg path {
  fill: var(--tin-white);
}
.overview .plannn h5 {
  animation: changeCold 1.5s linear infinite;
  font-size: 2rem;
}

@keyframes changeCold {
  0%,
  100% {
    color: rgb(240, 18, 18);
  }
  50% {
    color: var(--chill-green);
  }
}
.counterrr {
  align-items: baseline;
}
.box_div.plannn {
  align-items: baseline;
  flex-direction: column;
  margin-top: 1rem;
}
.hour {
  font-size: 2.5rem !important;
  color: var(--rebbon-blue);
  font-weight: bold !important;
}
.minute {
  font-size: 2rem !important;
  color: var(--tin-white);
  font-weight: bold !important;
}
.seconds {
  font-size: 1.5rem !important;
  color: var(--yellow);
  font-weight: bold !important;
}
#advanced-chart-widget-container {
  width: 100%;
}

.searchInput {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  color: white;
}
@media screen and (max-width: 576px) {
  .overview h5 {
    font-size: 1.2rem !important;
  }

  .box_div {
    flex-direction: column;
  }
  .box_div .fdrow {
    flex-direction: column;
  }
  .box_div .fdrow.countercov {
    flex-direction: row;
    align-items: center;
  }
  .mbbb {
    margin-bottom: 1rem;
  }
  .box_div .fdrow.counterrr {
    align-items: baseline;
    flex-direction: row;
  }
}
