.prolfile_photo.settings {
    min-height: 170px;
    min-width: 170px;
    position: relative;
    margin-bottom: 2rem;
}
.prolfile_photo.settings svg {
    min-height: 100px;
    min-width: 100px;
}
.prof{
    position: relative;
}
.edit_pic{
    height: 35px;
    width: 35px;
    background-color: var(--tin-white);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2.5rem;
    left: 8rem;
    right: 0rem;
    margin: auto;
    cursor: pointer;
}
.edit_pic input{
    height: 35px;
    width: 35px;
    position: absolute;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}
input[type="file" i] {
    cursor: pointer;
}
.edit_pic svg{
    height: 20px;
    width: 20px;
    z-index: 1;
}
.monbigtitle{
    color: var(--tin-white);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
.box_div.settings form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formpartcontainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0.5rem 0rem;
}
.box_div.settings form .inputBox {
    gap: 0.1rem;
    flex: 1 1 50%;
}
.box_div.changepassword{
    width: 50%;
}
.box_div.changepassword.settings form{
    gap: 1rem;
    padding-top: 1rem;
}
.box_div.changepassword.settings form .inputBox svg {
    top: 35%;
}



@media screen and (max-width: 576px) {
    .formpartcontainer{
        gap: 1rem;
        padding: 0.3rem 0rem;
    }
    .box_div.changepassword{
        width: 100%;
    }
}
