.mnbground {
  background-color: var(--midnight);
}
.twbground {
  background-color: var(--tin-white);
}
.pebground {
  background-color: var(--peal);
}
.cgbground {
  background-color: var(--chill-green);
}

.about {
  flex-direction: column;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.about_section {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about_section_container {
  display: flex;
  position: relative;
  max-width: 1440px;
  width: 100%;
  padding: 0px 120px;
  align-self: center;
}

.about-uppersection {
  height: 600px;
  overflow: hidden;
  position: relative;
}

.about_first {
  height: 100%;
}

.Title {
  margin-top: 160px;
  /* Headings/H1 */
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 120px;
  /* or 125% */

  letter-spacing: -0.01em;

  /* Primary/Tin white */

  color: var(--tin-white);
}

.glow {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
}

.glow svg {
  height: 700px;
  width: 800px;
  position: absolute;
  left: 65%;
  top: 200px;
}

.drive-us-container {
  height: 430px;
}
.origin-container {
  height: 100%;
}

.faq_second {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: 4rem;
}
.about_second h1 {
  margin: 20px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 120px;
  letter-spacing: -0.01em;
}

.faqbox{
  width: 100%;
  height: 50px;
  border: 1px solid black;
  transition: all 0.4s ease;
  overflow: hidden;
}
.faqbox.open{
  height: fit-content;
  transition: all 0.4s ease;
}
.faqbox_header{
  width: 100%;
  height: 50px;
  background-color: var(--chill-green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
.faqbox_header h5{
  font-weight: 600;
  font-size: 1.2rem;
  width: 90%;
}
.plus{
  width: 100%;
  height: 30%;
  background-color: var(--midnight);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(0deg);
  transition: all 0.4s ease;
}
.plus.close{
  transform: rotate(90deg);
  transition: all 0.4s ease;
}
.faqbox_body{
  padding: 1rem 1rem;
}


/* small laptops */
/* small laptops */
/* small laptops */
/* small laptops */
@media screen and (max-width: 1280px) {
  .about_section_container {
    max-width: 1280px;
    width: 100%;
    padding: 0px 100px;
  }
}

/* smaller laptops and big tablets */
/* smaller laptops and big tablets */
/* smaller laptops and big tablets */
/* smaller laptops and big tablets */

@media screen and (max-width: 1024px) {
  .about_section_container {
    max-width: 1024px;
    width: 100%;
    padding: 0px 80px;
  }
}

/* tablets */
/* tablets */
/* tablets */
/* tablets */

@media screen and (max-width: 860px) {
  .about_section_container {
    max-width: 860px;
    width: 100%;
    padding: 0px 40px;
  }

  .about-uppersection {
    height: 650px;
  }

  .Title {
    margin-top: 220px;
    font-size: 78px;
    line-height: 100px;
  }

  .glow svg {
    left: 45%;
  }

  .origin-container {
    height: 100%;
  }

  .about_second h1 {
    font-size: 78px;
    width: 70%;
    line-height: 90px;
  }

  .origin_p_scroll {
    height: 630px;
  }

  .about_second p {
    margin-left: 12%;
    gap: 0px;
    font-size: 23px;
  }

  .drive-us-container {
    height: 630px;
  }

  .about_third h1 {
    font-size: 78px;
    line-height: 90px;
    width: 55%;
  }

  .about_third_p_scroll {
    height: 100%;
  }

  .about_third p {
    padding-bottom: 0px;
    margin-left: 12%;
    gap: 0px;
    font-size: 23px;
  }

  .team {
    flex-direction: column;
    margin-left: 15%;
  }

  .about_fifth {
    line-height: 100px;
  }
}

/* Phones */
/* Phones */
/* Phones */
/* Phones */

@media screen and (max-width: 576px) {
  .about_section_container {
    max-width: 576px;
    width: 100%;
    padding: 0px 20px;
  }

  .about-uppersection {
    height: 100vh;
  }

  .Title {
    margin-top: 40vh;
    font-size: 48px;
    line-height: 60px;
  }

  .glow svg {
    left: 15%;
    top: 400px;
  }

  .origin-container {
    /* height: 830px; */
  }
  .about_second h1 {
    font-size: 48px;
    line-height: 60px;
    margin: 60px 0px 20px;
    width: 100%;
  }

  .drive-us-container {
    height: 830px;
  }

  .about_second p {
    padding-bottom: 120px;
  }

  .about_third h1 {
    font-size: 48px;
    line-height: 60px;
    margin: 60px 0px 20px;
    width: 100%;
  }

  .align h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 40px 0px 20px;
  }

  .team {
    margin-left: 0px;
  }

  .person {
    align-items: center;
    height: 100px;
  }

  .person img {
    height: 80px;
    border-radius: 40%;
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 20px;
  }

  .info h4 {
    font-size: 23px;
    padding: 2px 0px;
  }

  .info p {
    font-size: 13px;
    padding: 2px 0px;
  }

  .about_fifth {
    line-height: 30px;
    font-size: 20px;
    margin: 10px 0px;
  }

  .other-container {
    height: 50vh;
  }

  .faqbox_header h5{
    font-weight: 600;
    font-size: 0.8rem;
    width: 90%;
  }
}
